<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>New chore this week! </h1>
    <br>
    <p>
      Yo <%= @user.name %>,
    </p>
    <br>
    <p>
      Clean the <%= @user.chore.name %> up this week. Update your status at www.chores.herokuapp.com.
    </p>
    <br>
    <p>Have a great day!</p>
  </body>
</html>