<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>New chore this week! </h1>
    <br>
    <p>
      Yo <%= @user.name %>,
    </p>
    <br>
    <p>
      Looks like you hit the jackpot this week, the <%= @user.chore.name %>.
    </p>
    <br>
    <p>Have a bless'd day!</p>
  </body>
</html>